<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>

div.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

</style>
<head>
    <title>Construction Dashboard</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:rel="stylesheet" th:href="@{webjars/select2/4.0.13/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/select2-bootstrap4-theme/1.0.0/dist/select2-bootstrap4.css}"/>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{webjars/select2/4.0.13/js/select2.full.js}"></script>
    <link href="/main.css" rel="stylesheet"/>
    <script th:src="@{webjars/jspdf/1.4.1/dist/jspdf.min.js}"></script>
</head>
<body>
<div th:replace="/fragments/other-header :: other-header"/>

<div class="container">
    <i><u><h2>Construction Dashboard</h2></u></i>
    <div class="row">
        <div class="col-lg-8 mt-5" style="top: 20px;">
            <table class="table table-bordered table-hover table-responsive">
        <thead >
                <tr bgcolor="#337ab7">
                    <th style="padding-left: 30px;"><i>Category</i></th>
                    <th style="padding-left: 30px;"><i>Amount(Rs.)</i></th>
                    <th style="padding-left: 30px;"><i>Add New Entry</i></th>
                    <th style="padding-left: 30px;"><i>Go To Reporting</i></th>
                </tr>
        </thead>
                <tbody>
                <tr class="info">
                    <td style="padding-left: 30px;"><i>Other Expense Amount</i></td>
                    <td style="padding-left: 30px;"><span id="expenseId" th:text="${dashboardData.otherExpenseTotal}"></span></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/addToExpenseForm}"><img src="\images\newEntry.png" title="Add new expense entry" width="20" height="20"/></a></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/openOtherExpenseTable}"><img src="\images\detailReports.png" title="Go to expense Reporting" width="20" height="20"/></a></td>
                </tr>
                <tr class="success">
                    <td style="padding-left: 30px;"><i>Mistri Expense</i></td>
                    <td style="padding-left: 30px;"><span id="mistriExpenseId" th:text="${dashboardData.mistriExpenseTotal}"></span></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/addToMistriForm}"><img src="\images\newEntry.png" title="Add Mistri Payment" width="20" height="20"/></a></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/openMistriPaymentDetailsTable}"><img src="\images\detailReports.png" title="Go to Mistri reporting" width="20" height="20"/></a></td>
                </tr>
                <tr class="info">
                    <td style="padding-left: 30px;"><i>Cement Expense</i></td>
                    <td style="padding-left: 30px;"><span id="cementExpenseId" th:text="${dashboardData.cementExpenseTotal}"></span></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/openOtherExpenseTable}"><img src="\images\newEntry.png" title="Add cement entry" width="20" height="20"/></a></td>
                    <td style="padding-left: 60px;"><a href="#" th:href="@{/dashboard}"><img src="\images\detailReports.png" title="Go to cement Reporting" width="20" height="20"/></a></td>
                </tr>
                </tbody>
            </table>
            <hr width="100%" size="20" align="right" color="blue" noshade style=" border-top: 1px solid green">
            <div class="form-group row">
                <label for="TotalExpenseId" class="control-label col-sm-4"><i>Total Expense:</i></label>
                <div class="col-sm-1" >
                    <span id="TotalExpenseId" th:text="${dashboardData.sumOfAllExpense}"></span>
                </div>


            </div>

        </div>

    </div>


</div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>