<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
div.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}







</style>
<head>
    <meta charset="UTF-8">
    <title>Cement Details</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link th:rel="stylesheet" th:href="@{webjars/select2/4.0.13/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/select2-bootstrap4-theme/1.0.0/dist/select2-bootstrap4.css}"/>

    <script src="/js/jqueryScript.js"></script>
</head>
<body>
<div th:replace="fragments/other-header :: other-header"/>

<div class="container">
    <div style="margin-bottom:20px; padding:10px; background-color:#337ab7; color:white;">
        <p>Type some text to search the table for <strong>Purchase Date</strong>, <strong>Item unit rate</strong>,
            <strong>Quantity</strong>,
            <strong>Amount</strong> :
        <div style="text-align: right;">
            <a href="#" th:href="@{/backdashborad}">
                <strong style="color:white;"><< Back</strong>
            </a>
            <a href="#" th:href="@{/addToCementForm}">
                <img src="\images\newEntry.png" title="Add cement entry" width="20" height="20"/>
            </a>
            <a href="#" th:href="@{/cementReport}">
                <img src="\images\downloadPdf.png" title="Download this Report As Pdf" width="20" height="20"/>
            </a>
        </div>
        </p>

        <input class="form-control" id="invoiceFilter" type="text" placeholder="Search.."/>
    </div>
    <div id="printIt">
        <table id="expenseTable" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Purchase Date</th>
                <th>Quantity</th>
                <th>Unit Price(Rs)</th>
                <th>Amount(Rs)</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{webjars/select2/4.0.13/js/select2.full.js}"></script>
    <script th:src="@{webjars/jspdf/1.4.1/dist/jspdf.min.js}"></script>
    <script>
$(document).ready(function() {

	// DO GET
	$.ajax({
		type : "GET",
		url : "/listCementDetails",
		success: function(result){

			$.each(result, function(i, listCementDetails){
				var customerRow = '<tr>' +
				                    '<td>' + i + '</td>' +
									'<td><a href=\'#\'>' + listCementDetails.purchaseDate + '</a></td>' +
									'<td>' + listCementDetails.cementQuantity + '</td>' +
									'<td>' + listCementDetails.itemUnitRate + '</td>' +
									'<td>' + listCementDetails.amount + '</td>' +
								  '</tr>';

				$('#expenseTable tbody').append(customerRow);

	        });

			$( "#expenseTable tbody tr:odd" ).addClass("info");
			$( "#expenseTable tbody tr:even" ).addClass("success");
		},
		error : function(e) {
			alert("ERROR: ", e);
			console.log("ERROR: ", e);
		}
	});

	// do Filter on View
	$("#invoiceFilter").on("keyup", function() {
	    var inputValue = $(this).val().toLowerCase();
	    $("#expenseTable tr").filter(function() {
	    	$(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
	    });
	});
})


function printDiv() {

  $.ajax({
   url: 'ajaxfile.php',
   type: 'post',
   //data: {name:'yogesh',salary: 35000,email: 'yogesh@makitweb.com'},
   success: function(response){

   }
});
            var divContents = document.getElementById("printIt").innerHTML;
            var a = window.open("", "", "width=500,height=400");
            a.document.write('<html>');
            a.document.write('<head>');
            a.document.write(' <link href="/main.css" rel="stylesheet"/>');
            a.document.write('</head>');
            a.document.write('<body >');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
         setTimeout(function() {
				//$('#alert_placeholder').fadeOut('fast');
				a.close();
			}, 50000);
        }












    </script>
</div>
</body>
</html>